
HandTracking/__pycache__/AspectRatio.cpython-36.pyc

HandTracking/__pycache__/CameraHandler.cpython-36.pyc

HandTracking/__pycache__/Compactness.cpython-36.pyc

HandTracking/__pycache__/EuclideanDistance.cpython-36.pyc

HandTracking/__pycache__/GeometryCalculator.cpython-36.pyc

HandTracking/__pycache__/GrassFire.cpython-36.pyc

HandTracking/__pycache__/HistogramProjection.cpython-36.pyc

HandTracking/__pycache__/ProjectionHistograms.cpython-36.pyc

HandTracking/__pycache__/Thresholding.cpython-36.pyc

HandTracking/Modules/__pycache__/GaussianBlur.cpython-36.pyc

HandTracking/Modules/__pycache__/SobelEdge.cpython-36.pyc

.idea/
